# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Power BI temporary files
*.pbix.lock

# Windows files
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Environment files
.env